.classif-wrap {
    width: 60vw;
    height: 4vh;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 500;

    .classif {
        margin-left: 8px;
    }

    .classif-case {
        color: #ec9f19;
    }
}