.detail-button-wrap {
    display: flex;

    .link-wrap {
        text-decoration: none;
        cursor: pointer;

        div {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 52px;
            height: 26px;
            border-left: 2px solid #ccc;
            border-top: 2px solid #ccc;
            border-bottom: 2px solid #ccc;

            .link {
                color: rgb(146, 146, 146);
                font-size: 14px;
                font-weight: 600;
            }
        }

        &:last-child {
            div {
                border-right: 2px solid #ccc;
            }
        }
    }

    .link-wrap-input {
        border: 2px solid #ccc;
        border-right: none;
        outline: none;
        padding-left: 10px;
        font-weight: 700;
        font-size: 12px;
    }
}