.scroll-container{
    position: fixed;
    right: 5%;
    bottom: 5%;
    z-index: 1;
  }
  #top{
    font-weight: bold;
    font-size: 15px;
    padding :15px 10px;
    // background-color: #ccc;
    background: rgba(0, 0, 0, 0.4);
    color:#fff;
    border: 3px solid #ccc;
    outline: none;
    cursor: pointer;
  }