.notice-wrap {
    width: 95%;
    height: 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .notice-logo {
        margin-left: auto;
        margin-right: 5px;
    }

    .notice-description {
        margin-left: auto;
        text-align: right;
        font-size: 14px;
        font-weight: 800;
    }
} 