.title-line-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title-line-name {
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: #545454;
    margin-bottom: 5px;
}