$main-color: #274168;

@mixin titleline {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

@mixin description {
    margin: 30px 0 40px 0;
    display: flex;
    align-items: center;
    margin-left: 30px;
    font-weight: 500;
}

.home-board-wrap {
    display: flex;

    .line {
        width: 68vw;
        height: 2px;
        background-color: #ccc;
    }

    .doc-title-box {
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;

        span {
            color: $main-color;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 34px;
            margin-left: 30px;
        }
    }

    .classif-box {
        display: flex;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .home-title-box {
        margin-top: 30px;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: 'Open Sans', sans-serif;
        font-weight: 800;
        color: #545454;

        .home-title-text {
            font-size: 28px;
        }

        .home-subtitle-text {
            font-weight: 600;
            font-size: 16px;
        }

        .home-title-content-text {
            text-align: center;
            font-weight: 500;
            font-size: 14px;
            margin-top: 40px;
        }
    }

    .summary-wrap {
        @include titleline();
        margin-top: 20px;

        .summary-content {
            @include description();
        }

        .summary-video {
            display: flex;
            justify-content: center;

            iframe {
                width: 800px;
                height: 450px;
            }
        }
    }

    .department-wrap {
        @include titleline();
        margin-top: 20px;

        .department-description {
            @include description();
        }

        .department {
            margin-left: 30px;
            font-weight: 800;
            color: #545454;
            font-size: 24px;
        }
    }

    .song-wrap {
        @include titleline();
        margin-top: 20px;

        .song-description {
            @include description();
            line-height: 35px;
        }
    }

    .history-wrap {
        @include titleline();
        margin-top: 20px;

        .history-description {
            display: flex;
            justify-content: center;
        }
    }

    .bus-wrap {
        @include titleline();
        margin-top: 20px;

        .bus-description {
            display: flex;
            justify-content: center;
        }

        .bus-content {
            display: flex;
            justify-content: center;
            margin-top: 30px;
            margin-bottom: -30px;
            font-weight: 500;
        }
    }

    .notice-wrap {
        width: 95%;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;

        .notice-logo {
            margin-left: auto;
            margin-right: 5px;
        }

        .notice-description {
            margin-left: auto;
            text-align: right;
            font-size: 14px;
            font-weight: 800;
        }
    }
}

.titleBox-wrap {
    width: 48vw;
    height: fit-content;
    margin-top: 50px;

    .titleBox-main-title {
        width: 100%;
        height: 90px;
        background-color: $main-color;
        border: 2px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .titleBox-title {
            font-family: 'Open Sans', sans-serif;
            color: white;
            font-weight: 800;
            font-size: 24px;
        }

        .titleBox-eng-title {
            color: white;
            font-weight: 300;
            font-size: 14px;
        }
    }

    .school-img {
        width: 100%;
        height: auto;
        border-right: 2px solid #ccc;
        border-left: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
    }

    .table-wrap {
        width: 100%;
        height: 45px;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-right: 2px solid #ccc;
        border-left: 2px solid #ccc;
        border-bottom: 2px solid #ccc;
        margin-bottom: 4px;

        .table-name {
            width: 140px;
            height: 100%;
            background-color: $main-color;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                color: #fff;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                font-size: 18px;
            }
        }

        .table-content {
            width: 100%;
            height: 100%;
            background-color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
                font-size: 16px;
            }

            a {
                color: blue;
                font-weight: 600;
            }
        }
    }
}