.version-list {
    display: flex;
    margin-bottom: 30px;

    .version-span {
        display: block;
        width: 250px;

        .version-link {
            font-weight: 600;
            text-decoration: none;
            color: blue;
        }
    }

    span {
        font-weight: 600;

        .user-link {
            color: blue;
            text-decoration: none;
        }
    }
}

.version-wrap {
    display: flex;
}