$main-color: #274168;

.aside-wrap {
    width: 240px;
    height: 340px;
    border: 2px solid #ccc;
    margin-top: 20px;
    position: sticky;
    top: 2vw;

    .aside-title-box {
        width: 100%;
        height: 15%;
        background-color: $main-color;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #ccc;

        span {
            color: #fff;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 18px;
            margin-left: 20px;
        }
    }

    .aside-doc-box {
        width: 100%;
        height: 10%;
        background-color: #fff;
        display: flex;
        align-items: center;
        border-bottom: 2px solid #ccc;

        span {
            color: $main-color;
            margin-left: 10px;
            font-family: 'Open Sans', sans-serif;
            font-weight: 800;
            font-size: 14px;
        }
    }
}