.footer-wrap {
    margin-top: 510px;
    width: 100vw;
    height: 22vh;
    background-color: green;
    display: flex;
    background-color: #fff;
    border: 1px solid #ccc;

    .footer-box {
        width: 100%;
        height: 45%;
        margin-top: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .href-wrap {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .column-line {
            margin: 0 20px 0 20px;
            width: 2px;
            height: 25px;
            background-color: black;
        }

        .project-info-box {
            margin-top: 12px;

            .project-info {
                font-size: 14px;
                font-family: 'Open Sans', sans-serif;
            }
        }
    }
}