$main-color: #274168;

.header-wrap {
    display: flex;
    align-items: center;
    width: 100vw;
    height: 7vh;
    background-color: $main-color;

    .logo-wrap {
        display: flex;
        align-items: center;

        .logo {
            margin-left: 7vw;
            width: 8vw;
            height: auto;
        }
    }

    .section-bar {
        display: flex;

        .section-wrap {
            display: flex;
            cursor: pointer;
            text-decoration: none;

            .section-logo {
                margin-left: 4vw;
            }

            .section-text {
                margin-left: 8px;
                color: white;
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                font-weight: 800;
            }
        }
    }

    .search-bar {
        display: flex;
        margin-left: auto;
        align-items: center;

        .search-wrap {
            display: flex;
            justify-content: center;

            .search-input {
                width: 160px;
                height: 24px;
                border: 1px solid #ccc;
                outline: none;
                padding-left: 5px;
                font-size: 12px;
            }

            .search-button {
                width: 28px;
                height: 26px;
                background-color: #fff;
                border: 1px solid #ccc;
                border-left: none;
                cursor: pointer;
            }
        }
    }

    .login-wrap {
        margin: 0 7vw 0 1vw;

        .login-text {
            cursor: pointer;
            color: white;
            font-family: 'Open Sans', 'sans-serif';
            font-weight: 800;
        }
    }
}