.sub-footer-wrap {
    margin-top: auto;

    .notice-wrap {
        width: 95%;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin-top: auto;
        margin-bottom: 20px;

        .notice-logo {
            margin-left: auto;
            margin-right: 5px;

            @media (max-width: 500px) {
                width: 100px;
                height: 50px;
            }
        }

        .notice-description {
            margin-left: auto;
            text-align: right;
            font-size: 14px;
            font-weight: 800;

            @media (max-width: 500px) {
                font-size: 10px;
            }
        }
    }
}